build-AdminApp-Desktop_Qt_6_6_2_MinGW_64_bit-Debug/
AdminApp/Debug/
AdminApp/build-AdminApp-Desktop_Qt_6_6_2_MinGW_64_bit-Debug/
AdminApp/build-AdminApp-Desktop_Qt_6_6_2_MinGW_64_bit-Release/
AdminApp/build-AdminApp-Desktop_Qt_6_6_2_MSVC2019_64bit-Debug/
AdminApp/build-AdminApp-Desktop_Qt_6_6_2_MSVC2019_64bit-Release/
AdminApp/x64/