@page "/About"
@model ClientWeb.Pages.AboutModel
@{

    ViewData["Title"] = "Bookstore - About us";
}

<div id="about-me">
    <h2>About us</h2>
    <div id="about-top">
        <p>
            <img class="about-images" id="about-image1" src="images/placeholder.png" />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum odio ut enim malesuada, fermentum congue ligula rhoncus. Maecenas consequat erat eget enim volutpat dapibus vitae ut massa. Donec consectetur, enim ac consequat commodo, augue massa luctus elit, ac feugiat felis felis non leo. Nunc ipsum nulla, pulvinar ac mi non, elementum rhoncus mauris. Etiam convallis vehicula gravida. Nunc sit amet orci id orci interdum egestas. Donec id vulputate urna. Proin at pretium lacus. Quisque tincidunt velit ante, sit amet fermentum neque tempus at. Aenean ac velit ac nunc cursus pellentesque eu a ex.<br /><br/>

                Sed molestie felis lectus, non fringilla nulla fermentum sit amet. Nunc ornare maximus neque, et malesuada massa auctor in. Morbi pretium semper nisl, eu imperdiet velit ultricies eget. Vestibulum in nibh magna. Sed tempor erat ac arcu feugiat, ut tempor enim tempor. Aenean ornare elit id risus fringilla ultricies. Etiam imperdiet sodales viverra. Quisque vitae elit hendrerit, pretium erat egestas, egestas ex. Proin molestie magna ut quam faucibus auctor. Proin faucibus ligula et dui varius, sit amet fermentum turpis tincidunt. Nunc consectetur nisi enim, vestibulum porta massa facilisis non. Quisque nibh orci, pretium id elit vel, faucibus euismod mi. Duis est justo, gravida eu ligula a, iaculis pulvinar nisi. Morbi tempus condimentum velit, sit amet iaculis eros convallis in. Sed sit amet metus consequat, accumsan libero eget, posuere arcu.
            </p>
    </div>

    <div class="about-p">
        <p>
            <img class="about-images" id="about-image2" src="images/placeholder.png" />
            Quisque mollis rutrum diam, sit amet tempus purus porta ut. Nullam eget tincidunt arcu, eget lobortis urna. Etiam semper enim metus, quis tincidunt odio fringilla in. Praesent facilisis, risus a vestibulum convallis, nunc augue rutrum augue, sit amet porta mi ex a risus. Sed condimentum efficitur nisi eu egestas. Donec tempus lectus non arcu vehicula, sed sodales magna lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br /><br />

            Phasellus pretium rutrum metus eget laoreet. Maecenas in nisi hendrerit, euismod ex a, euismod risus. Vivamus malesuada mi eu malesuada molestie. Sed facilisis ligula nulla, eget aliquet risus ultrices ut. In in finibus mauris. Nulla efficitur lacinia nisi, ac faucibus lorem finibus at. Mauris eleifend ipsum erat, in bibendum lorem efficitur vel. Nulla sed felis hendrerit, sodales erat in, efficitur lacus. Ut ut nibh erat. Quisque a porttitor metus. Duis a bibendum nisl, id iaculis tellus. Morbi et consequat nulla. Aliquam faucibus, est ut scelerisque elementum, orci odio congue magna, eleifend pellentesque erat velit eget velit.<br /><br />
            <div id="about-contact">
                <h4>Contact us!</h4>
                <p><img class="icons" src="images/icons/phone.png"/> +36-12-345-6789</p>
                <p><img class="icons" src="images/icons/mail.png" /> <a href="mailto:example@domain.com">example@domain.com</a></p>
                <p>
                    <img class="icons" src="images/icons/home.png" /> 123 Main Street<br />
                    Anytown, USA<br />
                    12345
                </p>
            </div>
            Ut id nisl ac lacus rhoncus placerat vitae vel libero. Integer euismod sodales auctor. Nam faucibus condimentum lectus, sed bibendum massa egestas nec. Aliquam luctus nibh sit amet sollicitudin viverra. Phasellus eros sem, feugiat dapibus ultricies vel, fermentum ac magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum enim ex, porttitor ut velit nec, pharetra dictum enim. Cras a nulla leo. Duis tristique risus est, rutrum viverra turpis tempor et. Fusce venenatis lobortis faucibus. Morbi iaculis sed sapien nec viverra. Nulla et felis a nisl pellentesque euismod. Nullam sodales sapien vel magna varius convallis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque sollicitudin convallis sagittis.
        </p>
    </div>
</div>
