@page "/Blog"
@model ClientWeb.Pages.BlogModel
@{
    ViewData["Title"] = "Bookstore - Blog";
}

<h1>Blog</h1>


<div id="blogPosts">
    <div class="post">
        <h4 class="post-title">Post 1</h4>
        <div>
            <p>
                <img class="blog-img" src="images/placeholder.png" />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet massa metus. Praesent ac tincidunt ante. Donec at dictum tellus. Aenean vitae nisi eu nisl pulvinar pretium vel sed orci. Nunc imperdiet luctus suscipit. Nunc imperdiet luctus suscipit. Phasellus ac euismod diam, sed ultricies metus. Praesent sodales aliquam lobortis. Donec velit enim, pellentesque at ornare ac, feugiat sed nibh. Suspendisse varius convallis massa, at placerat ante rutrum et. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Mauris lacinia luctus est non sagittis.
                <br/><br/>
                Integer aliquet tellus nec mi semper sodales. In nisi ante, luctus sit amet feugiat et, molestie nec tortor. Nam nec neque lorem. Donec rutrum, dolor vel convallis tempus, nulla erat dignissim leo, blandit bibendum nibh nunc eget diam. Mauris venenatis bibendum feugiat. Suspendisse sed gravida ex, at blandit tellus. Curabitur laoreet, dolor non elementum posuere, velit odio efficitur justo, ac ornare felis ipsum eu tortor. Nulla eu fermentum nisl. Donec et lorem non diam vehicula vehicula. Nulla placerat, libero quis commodo cursus, augue nibh rhoncus odio, vel dignissim tellus nulla in dui. Etiam convallis magna in feugiat finibus. Sed tellus lorem, porttitor lobortis tortor et, sollicitudin tempor diam. Mauris in eleifend mi. Mauris molestie justo mi, et accumsan orci maximus eget.
            </p>
        </div>
    </div>
    <div class="post">
        <h4 class="post-title">Post 1</h4>
        <div>
            <p>
                <img class="blog-img" src="images/placeholder.png" />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet massa metus. Praesent ac tincidunt ante. Donec at dictum tellus. Aenean vitae nisi eu nisl pulvinar pretium vel sed orci. Nunc imperdiet luctus suscipit. Nunc imperdiet luctus suscipit. Phasellus ac euismod diam, sed ultricies metus. Praesent sodales aliquam lobortis. Donec velit enim, pellentesque at ornare ac, feugiat sed nibh. Suspendisse varius convallis massa, at placerat ante rutrum et. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Mauris lacinia luctus est non sagittis.
                <br /><br />
                Integer aliquet tellus nec mi semper sodales. In nisi ante, luctus sit amet feugiat et, molestie nec tortor. Nam nec neque lorem. Donec rutrum, dolor vel convallis tempus, nulla erat dignissim leo, blandit bibendum nibh nunc eget diam. Mauris venenatis bibendum feugiat. Suspendisse sed gravida ex, at blandit tellus. Curabitur laoreet, dolor non elementum posuere, velit odio efficitur justo, ac ornare felis ipsum eu tortor. Nulla eu fermentum nisl. Donec et lorem non diam vehicula vehicula. Nulla placerat, libero quis commodo cursus, augue nibh rhoncus odio, vel dignissim tellus nulla in dui. Etiam convallis magna in feugiat finibus. Sed tellus lorem, porttitor lobortis tortor et, sollicitudin tempor diam. Mauris in eleifend mi. Mauris molestie justo mi, et accumsan orci maximus eget.
            </p>
        </div>
    </div>
</div>
